   <!DOCTYPE html>

   <head>
    <title>Bangalore Budget</title>
    <link href="css/bootstrap.css" rel="stylesheet"> 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular.js"></script>
    <script src="ngStorage.js"></script>
    
    <script type="text/javascript">
      n =  new Date();
      y = n.getFullYear();
      m = n.getMonth() + 1;
      d = n.getDate();
      var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];

     var monthName = monthNames[n.getMonth()];
     var monthNo = n.getMonth()+1;

    var finaldate = d+ "/" + m + "/" + y;
    </script>

  <script>
    var moduleRef = angular.module('main',['ngStorage']).controller('expenseController',expenseControllerFunc);

    function expenseControllerFunc($localStorage,$scope,$http){
      this.exp = function(details){
        this.date = finaldate;
        this.month = monthName;
        this.heads = details.heads;
        this.payment = details.payment;
        this.amount = details.amount;

        console.log(this.date);
        console.log(this.month);
        console.log(this.heads);
        console.log(this.payment);
        console.log(this.amount);

        console.log(details);
       
        $http.post('/addDailyExpense',JSON.stringify(details),{headers: {'Content-Type': 'application/json'} })
       .then(function (response) {
          if (response) {
            console.log(response);           
          return response;
        }
          }, function (response) {
          console.log("not successful")
      });
    }
  }
 
   

  </script>


   </head>

   <body ng-app ="main">   
   <div class="container" style="background: linear-gradient(to right, olive , khaki);">
       <div class="container-fluid" style="text-align: right;">
            <ul class="nav nav-tabs navbar-right" > 
                <li><a href="index.html"> <i class="fa fa-home"></i> Home</a></li>
                <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expenses<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="daily1.html">Daily</a></li>
                        <li><a href="monthly.html">Monthly</a></li>
                      </ul>
                </li>
                <li><a href="#"> <i class="fa fa-line-chart"></i> Graphs</a></li>
            </ul>
        </div>

        <h1 style="color: white; text-align: center;font-style: italic;font-size: 300%;font-weight: bold;font-family: monospace;">Bangalore Ledger </h1> 
        <img src="img/le5.png" height="300px" width="100%" align="center">
    </div> </div><br><br>

    

         <div ng-controller = "expenseController as addExpense" class="container-fluid" style="color:olive; text-align:center;font-style: italic;font-family:fantasy;"> 

            <div class="col-md-3">
               
                <label style="color: olive ; text-align: center;font-style: italic;font-size: 150%; font-weight:900; font-family: fantasy;border-radius: 30px; background: khaki;padding: 10px;width: 300px;height: 100px;"> Date <br><input type="date"  id ="date" required></label> 
            </div>

            <div class="col-md-3">
                <label style="color: olive ; text-align: center;font-style: italic;font-size: 150%; font-weight:900; font-family: fantasy;border-radius: 30px; background: khaki;padding: 10px;width: 300px;height: 100px;"> Choose Head <input list="heads" ng-model="addExpense.heads" required></label> 

                <datalist id = "heads">
                    <option value = "Nanda Grocery store" ></option>
                    <option value = "BigBakset"></option>
                    <option value = "Amazon Now"></option>
                    <option value = "Swiggy"></option>
                    <option value = "Hotel"></option>
                    <option value = "Travelling"></option>
                    <option value = "Gas Cyclinder"></option>
                </datalist>
            </div>

            <div class="col-md-3">
                <label style="color: olive ; text-align: center;font-style: italic;font-size: 150%; font-weight:900; font-family: fantasy;border-radius: 30px; background: khaki;padding: 10px;width: 300px;height: 100px"> Mode of payment <input list="payment" ng-model="addExpense.payment" required></label> 

                <datalist id = "payment">
                    <option value = "Cash" ></option>
                    <option value = "Paytm"></option>
                    <option value = "Raj's Credit Card"></option>                   
                </datalist>
            </div>

            <div class="col-md-3">
                <label style="color: olive ; text-align: center;font-style: italic;font-size: 150%; font-weight:900; font-family: fantasy;border-radius: 30px; background: khaki;padding: 10px;width: 300px;height: 100px"> Amount <input type="number" ng-model="addExpense.amount" required></label>     <br><br><br><br>       
            </div>
            {{addExpense.amount}} <br>
            {{addExpense.payment}}<br>
            {{addExpense.heads}}<br>
            {{addExpense.date}}<br>

          <button style="color: white ; text-align: center;font-style: italic;font-size: 150%; font-weight:900; font-family: fantasy;border-radius: 25px; background: olive;padding: 10px;width: 200px;height: 70x;margin-left: 1200px;" data-ng-click="addExpense.exp(addExpense)"> Update Expenses</button>
        </div>

   </body>